<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only!</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/signup"><button>Signup</button></a>
        <a href="/login"><button>Log in</button></a>
        <form action="/logout" method="post">
          <button type="submit">Log out</button>
        </form>
        <a href="/member-form"><button>Become a member!</button></a>
      </nav>
    </header>
    <main class="message-center">
      <!-- prettier-ignore -->
      <% messages.map((message, i) => { %>
        <%- include("./message.ejs", {message}) %>
      <% }); %>
    </main>
  </body>
</html>
