<div class="message-card">
  <h2 class="title"><%= message.title %></h2>
  <p class="msg"><%= message.message %></p>
  <p class="meta-stamp">
    Sent by <%= message.firstname + " " + message.lastname %> at <%=
    message.created %>
  </p>
</div>
