<form action="/signup" method="post">
  <h1>Join the club!</h1>

  <div class="form-control">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      required
      value="<%= locals.username %>"
    />
  </div>

  <div class="form-control">
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="password" required />
  </div>

  <div class="form-control">
    <label for="passConf">Confirm Password:</label>
    <input type="password" id="passConf" name="confirmPassword" required />
  </div>

  <% if (locals.errorList) { %>
  <div class="form-errors">
    <% errorList.forEach(error => { %>
    <p class="error"><%= error.msg %></p>
    <% }); %>
  </div>
  <% } %>

  <button type="submit">Submit</button>
</form>
